.navbar {
  width: 100%;
  background: #222;
  color: white;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  gap: 20px;
}

.nav-left {
  font-size: 14px;
}

.nav-right a {
  margin-right: 20px;
  color: #ddd;
  text-decoration: none;
}

.nav-right a:hover {
  text-decoration: underline;
}

.logout-btn {
  background: #ff4d4d;
  border: none;
  padding: 6px 12px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.logout-btn:hover {
  background: #e63939;
}
